<div class="container">
  <h2>Gerenciador de Tarefas</h2>

  <label for="statusFilter">Filtrar por status:</label>
  <select id="statusFilter" [(ngModel)]="selectedStatus" (change)="onStatusFilterChange()">
    <option value="">Todos</option>
    <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
  </select>

  <button (click)="add()" class="add-task-btn">
    <mat-icon>add</mat-icon>
    Nova tarefa
  </button>

  <table class="task-table">
    <thead>
      <tr>
        <th>Tarefa</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Data</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.titulo }}</td>
        <td>{{ task.descricao }}</td>
        <td>
          <select [(ngModel)]="task.status" (change)="onStatusChange(task)">
            <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
          </select>
        </td>
        <td>{{ task.creationDate | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn edit" [routerLink]="['/edit' , task.id]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>