<div class="container">
    <h2>Gerenciador de Tarefas</h2>
  
    <button (click)="add()" class="add-task-btn" > Nova Tarefa</button>
  
    <table class="task-table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Description</th>
          <th>Status</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.titulo }}</td>
          <td>{{ task.descricao }}</td>
          <td>
            <select [(ngModel)]="task.status" (change)="onStatusChange(task)">
              <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
            </select>
          </td>
          <td>{{ task.creationDate | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button class="btn edit" [routerLink]="['/edit' , task.id]">
                <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>